@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header, 
.sectionone,
.footer {
    background-color: #1f2937;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.logotext {
    font-size: 24px;
    color: #F9FAF8;
}

.headlinks{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.sectionone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.column {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    margin: 10px;
}

.herotext {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.heropara, a{
    font-size: 18px;
    color: #E5E7EB;
}

.heroimg {
    height: 200px;
    width: 400px;
}

.signup {
    background-color: #3882F6;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 5px;
}

.sectiontwo {
    height: 500px;
}

.sectiontitle {
    text-align: center;
    padding: 50px 0 50px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.info {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.infoimg {
    border-radius: 25%;
    width: 200px;
    height: 200px;
}

.info p{
    text-align: center;
    margin: 0 auto;
    width: 200px;
    gap: 10px
}

.imgby a {
    color: rgb(9, 157, 216);
}

.sectionthree {
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    align-items: center;
}

.quotecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 25%;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    opacity: 0.5;
    color: #1f2937;
}

.quotename {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.bannersection {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannercontainer {
    background-color: #3882F6;
    width: 50%;
    padding: 30px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bannerbutton {
    background-color: #3882F6;
    border: 2px white solid;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
}

.bannercolumn {
    padding: 0 50px;
}

.footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

a:hover {
    color: rgb(255, 58, 91);
    background-color: #1f2937;
    opacity: 0.5;
}

button:hover {
    background-color: #2861bd;
}